    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About yours truly</h2>
                <p>Hi, I'm Daniel Frisch. I am a professional multi-disciplined Web Applications Developer based in Cincinnati, Ohio. By day, I build and maintain websites and mobile applications for those in need of ninja-esque coding skills. By night, I enjoy playing music with friends, spending time with family, and riding motorcycles.</p>
            </div>
        </div>
    </section>